<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<div class="container my-3">
    <!-- 질문  -->
    <h2 class="border-bottom py-2" th:text="${question.subject}">질문 제목</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}">질문 내용</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}">작성자</span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}">질문 작성 날짜</div>
                </div>
            </div>
        </div>
    </div>

    <!--  답변이 있다면 출력하는 로직  질문에서 답변을 가져오기 때문에, question.answerList 임! -->
    <!-- 타임리프 문법에서 #은 제공하는 기본객체임 list객체 제공, session, request등도 마찬가지로 #request로 접근 가능 -->
    <div th:if="${#lists.size(question.answerList) ge 1 }">
        <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)} 개의 답변이 있습니다. |"></h5>
        <!-- 답변 출력-->
        <div th:each="answer : ${question.answerList}">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}">답변 내용</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}">작성자</span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm')}">답변 입력날짜 출력</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--답변 입력창-->
    <!--  action링크 => 질문:답변 = 1:n 관계니까 -->
    <form th:object=${answerForm} method="POST" th:action="@{|/answer/create/${question.id}|}" class="my-3">
       <div th:replace="~{form_errors::formErrorsFragment}"></div>
        <!-- name이 서버로 가는 값 필드명이니까 ENTITIY랑 일치시켜야함 -->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변 등록" class="btn btn-primary my-2">
    </form>
</div>
</div>
</html>