<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
    <div class="container my-3">
        <!-- 질문  -->
        <h2 class="border-bottom py-2" th:text="${question.subject}">질문 제목</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text"  th:utext="${@commonUtil.markdown(question.content)}">질문 내용</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start mx-3" th:if="${question.modifyDate != null}">
                        <div class="mb-2">수정 일자</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}">수정 날짜 출력 칸</div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.author != null}" th:text="${question.author.username}">작성자</span>
                        </div>
                    </div>
                    <div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}">질문 작성 날짜</div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정">수정 버튼</a>
                <a class="delete btn btn-sm btn-outline-secondary" href="javascript:void(0);"
                   sec:authorize="isAuthenticated()"
                   th:data-uri="@{|/question/delete/${question.id}|}"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제">삭제 버튼</a>
                <button th:text="댓글" class="comment btn btn-sm btn-outline-secondary">댓글 버튼</button>
            </div>
        </div>
    </div>

    <!-- 질문글 댓글 -->
    <div id="comment-section" class="folding card my-3">
        <div class="card-body">
            <h4 class="card-title">댓글</h4>
            <!-- 댓글 목록을 표시하는 부분 -->
            <div class="comment-list">
                <!-- 여기에 댓글 목록을 출력하는 코드를 추가하세요 -->
                <div>
                    <div th:if="${#lists.size(question.commentList) ge 1 }">
                        <h6  th:text="|${#lists.size(question.commentList)} 개의 댓글이 있습니다.|"></h6>
                        <!--댓글 출력-->
                        <div th:each= "comment :${question.commentList}">
                        <div class="card-body">
                            <div class="card-text"  th:text="${comment.content}">답변 내용</div>
                            <div class="d-flex justify-content-end">
                                <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                                    <div class="mb-2">수정 일자</div>
                                    <div th:text="${#temporals.format(comment.modifyDate,'yyyy-MM-dd HH:mm')}">수정 일자 출력 칸</div>
                                </div>
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div class="mb-2">
                                        <span th:if="${comment.author != null}" th:text="${comment.author.username}">작성자</span>
                                    </div>
                                    <div th:text="${#temporals.format(comment.createDate,'yyyy-MM-dd HH:mm')}">답변 입력날짜 출력</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 댓글 작성 폼 -->
            <form class="comment-form mt-3" th:action="@{|/comment/create/${question.id}|}" method="post">
<!--                <input type="hidden" name="questionId" th:value="${question.id}" /> -->
                <div class="mb-3">
                    <label for="content" class="form-label">댓글 내용</label>
                    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">댓글 작성</button>
            </form>
        </div>
    </div>


    <!--  답변이 있다면 출력하는 로직  질문에서 답변을 가져오기 때문에, question.answerList 임! -->
    <!-- 타임리프 문법에서 #은 제공하는 기본객체임 list객체 제공, session, request등도 마찬가지로 #request로 접근 가능 -->
    <div th:if="${#lists.size(question.answerList) ge 1 }">
        <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)} 개의 답변이 있습니다. |"></h5>
        <!-- 답변 출력-->
        <div class="card my-3" th:each="answer : ${question.answerList}">
            <a th:id="|answer_${answer.id}|"></a>
            <div class="card-body">
                <div class="card-text"  th:utext="${@commonUtil.markdown(answer.content)}">답변 내용</div>
                <div class="d-flex justify-content-end">
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">수정 일자</div>
                        <div th:text="${#temporals.format(answer.modifyDate,'yyyy-MM-dd HH:mm')}">수정 일자 출력 칸</div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}">작성자</span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm')}">답변 입력날짜 출력</div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" th:data-uri="@{|/answer/vote/${answer.id}|}"
                   class="recommend btn btn-sm btn-outline-secondary">추천
                <span th:text="${#lists.size(answer.voter)}" class="badge rounded-pill bg-success"></span></a>
                <a class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:href="@{|/answer/modify/${answer.id}|}"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정">수정</a>
                <a class="delete btn btn-sm btn-outline-secondary" href="javascript:void(0);"
                   sec:authorize="isAuthenticated()"
                   th:data-uri="@{|/answer/delete/${answer.id}|}"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제">삭제</a>
            </div>
        </div>
    </div>
    <!--답변 입력창-->
    <!--  action링크 => 질문:답변 = 1:n 관계니까 -->
    <form class="my-3" method="POST" th:action="@{|/answer/create/${question.id}|}" th:object=${answerForm}>
        <div th:replace="~{form_errors::formErrorsFragment}"></div>
        <!-- name이 서버로 가는 값 필드명이니까 ENTITIY랑 일치시켜야함 -->
        <textarea class="form-control" disabled rows="10" sec:authorize="isAnonymous()"
                  th:field="*{content}"></textarea>
        <textarea class="form-control" rows="10" sec:authorize="isAuthenticated()" th:field="*{content}"></textarea>
        <input class="btn btn-primary my-2" type="submit" value="답변 등록">
    </form>


   
    <script layout:fragment="script" type="text/javascript">
        <!--    삭제 버튼에 사용될 JS-->
        const delete_elements = document.getElementsByClassName("delete");
        // iterator임 delete버튼이 여러개인 경우도 적용되도록
        console.log(delete_elements);
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                console.log("클릭");
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
        
        <!-- 추천 버튼에 사용할 JS-->
        const recomment_elements = document.getElementsByClassName("recommend");
        Array.from(recomment_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        <!-- 댓글 버튼 누르면 댓글과 댓글 입력창 출력-->
        let comment_elements = document.getElementsByClassName("comment");
        Array.from(comment_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                //댓글 창 출력
                console.log('클릭 발생');
                const comment_section = document.getElementById('comment-section');
                comment_section.classList.toggle('folding');
            })
        })

    </script>

    <style>
        .folding {
            display : none;
        }
    </style>
</div>
</html>